<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @zombie.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @zombie.bio %>
</p>

<p>
  <b>Age:</b>
  <%= @zombie.age %>
</p>

<p>
	<% if @roles != [] %>
		<b>Current Roles:</b>
		<%= @roles.join(',') %>
	<% end %>
</p>

<% if @zombie.brain %>
	<b>Brain:</b>
	<% if @zombie.brain.status %>
		<p>Brain is <%= "#{@zombie.brain.status.downcase}" %></p>
	<% end %>
	<% if @zombie.brain.flavour %>
		<p>Brain tastes like <%= "#{@zombie.brain.flavour.downcase}" %></p>
	<% end %>
<% end %>

<%= link_to 'Edit role', zombie_roles_addRole_path(@zombie) %>




<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
